@import 'base';
@import 'compass/reset';
@import 'compass/typography/lists/inline-block-list';
@import 'compass/typography/vertical_rhythm';
@import 'compass/css3/box-shadow';
@import 'compass/css3/user-interface';

@include establish-baseline;

body {
  font-family: sans-serif;
  background: $dark-gray;
  margin-bottom: rhythm(1);
}

a {
  color: $black;
}

header {
  background: $green;
  padding: rhythm(1);
  @include box-shadow;

  h1 {
    @include adjust-font-size-to(48px, 2);
    font-family: 'Bangers', 'cursive';
  }

  span {
    color: $dark-gray;
  }
}

#content {
  padding: rhythm(1);

  .container {
    position: relative;

    span {
      margin-right: 100px;
    }

    input {
      @include adjust-font-size-to($base-font-size);
      border: 0 none;
      outline: none;
      background: $light-gray;
      padding: rhythm(1/8) 0;
      text-indent: 0.5em;
      width: 100%;
      font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;

      @include input-placeholder {
        color: $dark-gray;
      }
    }

    button {
      @include adjust-font-size-to($base-font-size);
      position: absolute;
      right: 0;
      top: 0;
      width: 100px;
      height: 100%;
      border: 0 none;
      background: $green;
    }
  }

  .results {
    margin-top: rhythm(1);
    display: none;

    body.has-results &, body.has-error &, body.is-loading & {
      display: block;
    }
  }
}

#loading {
  background: $white;
  text-align: center;
  padding: rhythm(1/2) 0;
  display: none;

  body.is-loading & {
    display: block;
  }
}

#error {
  background: $red;
  color: $white;
  text-indent: 0.5em;
  font-weight: bold;
  display: none;

  body.has-error & {
    display: block;
  }
}

#regexp-render {
  background: $white;
  overflow: auto;
  width: 100%;
  text-align: center;

  body.is-loading &, body.has-error & {
    position: absolute;
    top: -100px;
  }
}

footer {
  padding: 0 rhythm(1);

  ul {
    @include adjust-font-size-to(14px, 2/3);
    @include inline-block-list;

    li {
      &::after {
        content: '//';
        padding: 0 5px;
      }

      &:last-child::after {
        content: '';
      }
    }
  }

  img {
    vertical-align: middle;
  }
}
