$green: #bada55;
$dark-gray: #6b6659;
$light-gray: #cbcbba;
$red: #b3151a;
$black: #000;

html {
  font-size: 100%;
}

body {
  font-size: 1em;
  font-family: sans-serif;
  line-height: 1.4em;
  background: $dark-gray;
  margin: 0 0 1em 0;
}

a {
  color: $black;
}

header {
  background: $green;
  padding: 1.5em 2em;
  box-shadow: 0 0 15px;

  h1 {
    font-family: 'Bangers', 'cursive';
    font-size: 3em;
    margin: 0;
    line-height: 1em;
  }

  span {
    color: $dark-gray;
  }
}

#content {
  padding: 2em;
}

footer {
  padding: 0 2em;
  font-size: 12px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    border-right: 1px solid $black;
    padding: 0 5px;

    &:last-child {
      border-right: 0 none;
    }
  }

  img {
    vertical-align: middle;
  }
}
